<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <% unless user == current_user %>
            <% unless current_user.friend?(user) || current_user.friend_request_sent.include?(user) || current_user.friend_request_received.include?(user) %>
              <%= link_to 'Invite to Friendship', "friendship/create/#{user.id}", method: :post, class: 'profile-link' %>
            <% end %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
